@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  width: 100%;
  margin-top: 150px;
}

h1 {
  color: #505a5f;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 30px;
}

/* 登録フォーム */
.registerForm {
  margin-bottom: 30px;
}

.registerTextbox {
  width: 50%;
  height: 40px;
  padding: 0.5rem;
  border: 1px solid #505a5f;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  vertical-align: top;
}

.registerButton {
  padding: 0.4rem 1.5rem;
  height: 40px;
  color: #fff;
  background-color: #4caf50;
  border: 1px solid #505a5f;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  box-sizing: border-box;
  vertical-align: top;
  transition: 0.4s;
}

.registerButton:hover {
  background-color: #2c8f30;
}

@media screen and (max-width: 768px) {
  .registerForm {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .registerTextbox {
    width: 80%;
    border: 1px solid #505a5f;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .registerButton {
    width: 80%;
    border: 1px solid #505a5f;
    border-radius: 5px;
  }
}

/* Todo一覧 */
.todoList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoContent {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  vertical-align: middle;
}

.checkbox {
  position: relative;
  width: 40px;
  height: 40px;
  vertical-align: -5px;
  appearance: none;
  border: 1px solid #505a5f;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  vertical-align: top;
}

.checkbox:checked:before {
  position: absolute;
  top: 2px;
  left: 12px;
  transform: rotate(50deg);
  width: 10px;
  height: 22px;
  border-right: 5px solid #4caf50;
  border-bottom: 5px solid #4caf50;
  content: "";
}

.todoTitle {
  width: 400px;
  height: 40px;
  padding: 0.5rem;
  border: 1px solid #505a5f;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  box-sizing: border-box;
  vertical-align: top;
}

.todoTitle:disabled {
  text-decoration: line-through;
}

.deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.deleteButton img {
  width: 28px;
  height: 28px;
  margin-left: 20px;
  transition: 0.4s ease;
}

.deleteButton:hover img {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .todoTitle {
    width: 200px;
  }
}
